a{
    color: white;
}
.header{
    background-color: #323b3e;
}
.banner{
    background-color: #e8ecef;
    border: solid 3px blue;
    padding: 30px 20px;
}
.item{
    border: solid 3px violet;
    padding: 20px 10px;
    text-align: center;
}
.footer{
    background-color: #36393e;
    color: white;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
}
